*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 100%;
    height: 160vh;
    background-color: rgb(255, 255, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 80%;
    height: 135vh;
    display: flex;
    justify-content: space-between;
}
.div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div1{
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divi1{
    width: 100%;
    height: 45vh;
    background-color: white;
    display: flex;
}
.divi2{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.minidiv1{
    width: 64%;
    height: 100%;
    background-color: white;
}
.minidiv2{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box1{
    width: 100%;
    height: 46%;
    background-color: white;
}
.box2{
    width: 100%;
    height: 23%;
    background-color: white;
}
.box3{
    width: 100%;
    height: 23%;
    background-color: white;
}
.boxie1{
    width: 100%;
    height: 45%;
    background-color: white;
}
.boxie2{
    width: 100%;
    height: 16%;
    background-color: white;
}
.boxie3{
    width: 100%;
    height: 16%;
    background-color: white;
}
.boxie4{
    width: 100%;
    height: 16%;
    background-color: white;
}
.text{
    width: 47%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    width: 53%;
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.p{
    width: 100%;
    height: 70%;
}
.divv{
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 100%;
    height: 50%;
}
.text1{
    width: 100%;
    height: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divv1{
    display: flex;
    justify-content: space-around;
}
.p1{
    width: 100%;
    height: 70%;
}
.divv1{
    display: flex;
    justify-content: space-between;
}
.boxies1{
    width: 100%;
    height: 100%;
}
.img2{
    width: 100%;
    height: 40%;
}
.text2{
    width: 100%;
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divv2{
    display: flex;
    justify-content: space-between;
}
.p2{
    width: 100%;
    height: 50%;
}
.text3{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img3{
    width: 100%;
    height: 50%;
}
.text4{
    width: 100%;
    height: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}